{% extends "layout.html" %}

{% block content%}
    <div class="row g-3">
        <div class="col-md-4 offset-lg-2">
            <h1>Add User</h1>
            <br>
            <br>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label}}<br>
                    {{ form.username(size=32, class="form-control") }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label}}<br>
                    {{ form.email(size=32, class="form-control") }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32, class="form-control") }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.confirm_password.label }}<br>
                    {{ form.confirm_password(size=32, class="form-control") }}<br>
                    {% for error in form.confirm_password.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(class="pl-5  pr-5 btn btn-primary") }}</p>
            </form>
        </div>
    </div>

{% endblock %}