{% extends "layout.html" %}

{% block content%}
    <div class="row g-3">
        <div class="col-md-4 offset-lg-2">
            <h1>Add User</h1>
            <br>
            <br>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {{ form.id(class="hidden") }}
                <p>
                    {{ form.username.label}}<br>
                    {{ form.username(size=32, class="form-control") }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label}}<br>
                    {{ form.email(size=32, class="form-control") }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(class="form-control btn btn-primary") }}</p>
            </form>
            <br>
            <br>
            <a href="{{url_for('dashboard.users')}}" class="btn btn-primary"> Back to User</a>
        </div>
    </div>

{% endblock %}